body{
background:#070707;
color:white;
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
}

.container{
text-align:center;
animation:fade 1.5s ease;
}

.top{
color:#ff2d55;
letter-spacing:10px;
font-size:15px;
margin-bottom:20px;
}

h1{
font-size:90px;
font-weight:bold;
margin:0;
}

h1 span{
display:block;
color:#ff2d55;
font-size:70px;
text-shadow:0 0 25px #ff2d55;
}

.desc{
width:500px;
max-width:90%;
margin:30px auto;
color:#ccc;
line-height:1.8;
}

.line{
display:flex;
align-items:center;
justify-content:center;
gap:15px;
margin:30px;
color:#ff2d55;
}

.line span{
width:90px;
height:2px;
background:#ff2d55;
}

.button{
display:inline-block;
padding:18px 70px;
background:#ff2d55;
color:white;
text-decoration:none;
font-size:24px;
font-weight:bold;
border-radius:8px;
box-shadow:0 0 30px #ff2d55;
transition:.3s;
}

.button:hover{
transform:scale(1.08);
}

.invite{
margin-top:35px;
color:#888;
letter-spacing:4px;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(50px);
}
to{
opacity:1;
transform:translateY(0);
}
}